 .card{
    font-family: "Work Sans", light;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 30rem;
    justify-content: space-evenly;
    perspective: 1000px;
    color: white;
    
 }
 
.card-container{
    left: 0px;
    top: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 0.5rem;
    
}

.card:hover .card-container{
    transform: rotateY(180deg);
}
.card-front, .card-back{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background:
        linear-gradient(to right,  #ed1b72 4px, transparent 4px) 0 0,
        linear-gradient(to right,#f2d40d 4px, transparent 4px) 0 100%,
        linear-gradient(to left, #90d36b 4px, transparent 4px) 100% 0,
        linear-gradient(to left, #09b7bf 4px, transparent 4px) 100% 100%,
        linear-gradient(to bottom,  #ed1b72 4px, transparent 4px) 0 0,
        linear-gradient(to bottom, #90d36b 4px, transparent 4px) 100% 0,
        linear-gradient(to top, #f2d40d 4px, transparent 4px) 0 100%,
        linear-gradient(to top, #09b7bf 4px, transparent 4px) 100% 100%;
    
    background-repeat: no-repeat;
    background-size: 90px 50px;
    border-radius: 0.5rem;
}
.card-front{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-back{
  transform: rotateY(180deg);
  background-color: transparent;
}

.card-title{
    position: relative;
    height: 2rem;
    align-self: center;
    font-size: 1.3rem;
    max-height: fit-content;
    text-align: center;
    margin: 10px;
}

.card-image{
    position: relative;
    justify-self: center;
    max-height: 15.5rem;
    margin: 10px;
    border-radius: 0.5rem;
}

.card-list-of-ingrediences{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-info{
    display: flex;
    margin: 10px;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.recipe-specific-info{
    letter-spacing: 0.1rem;
    
}

.recipe-link{
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0.9rem;
    position: absolute;
    align-self: center;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 3px;
    transition: 500ms;
}

.recipe-link:hover{
    background-color: #1b2845;
    border: none;
    color: white;
    scale: 1.05;
}

@media only screen and (max-width: 768px){
    .card{
      height: 25rem;
    }
    .card-title{
        margin-top: 10px;
        font-size: 1rem;
    }
    .recipe-specific-info{
        font-size: 0.8rem;
    }
}

