.footer-container{
    border-top: 1px solid black;
    position: sticky-footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 4rem;
    
}

.footer-name{
    font-weight: bold;
}
.footer-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
}

.footer-icon{   
    width: 40px;
    height: 40px;
    transition: 300ms;
}
.footer-icon:hover{
    scale: 1.1;
}

.footer-text{
    padding: 10px;
    font-size: small;
    cursor: default;
    justify-content: center;
    transition: 500ms;
}
.footer-text:hover{
    color: white ;
    scale: 1.1;
    cursor: default;
}