.footer-container{
    border-top: 1px solid black;
    position: sticky-footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #636363;
    height: 4rem;
    
}

.footer-name{
    font-weight: bold;
}
.footer-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
}

.footer-icon{ 
    
    width: 40px;
    height: 40px;
}
.footer-icon:hover{
    opacity: 80%;
}

.footer-text{
    font-size: small;
    justify-content: center;   
}