@import url("https://fonts.google.com/specimen/Work+Sans");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ingr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper {
  background-image: url("../assets/food-wallpaper.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  background-size: 100%;
  height: 88vh;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.form-input {
  width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 0.8;
}
.form-button {
  padding: 1rem;
  border-radius: 0.5rem;
}

.ingrediences-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 3rem;
  line-height: 2px;
}
.remove-ingredience-button {
  border-radius: 0.5rem;
  padding: 0.4rem;
  border: none;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  color: #fedf51;
  background-color: #9acbef;
}

.input-of-ingredience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.5rem;
  animation-name: fadeIn;
  animation-duration: 2s;
  background-image: linear-gradient(
    to top,
    rgba(254, 236, 81, 1) 0%,
    rgba(254, 210, 58, 1) 30%,
    rgba(254, 194, 47, 1) 87%
  );
}

.input-of-ingredience > p {
  margin: 0;
}

.display-none {
  display: none;
}
.recipes-container {
  position: relative;
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  border: solid 1px black;
  border-radius: 0.5rem;
}
.recipe-wrapper {
  display: flex;
}

.self-center {
  align-self: center;
}
